In [ ]:
import pandas as pd 

anime_df = pd.read_csv('animes.csv')
anime_df = anime_df.rename(columns={"itemID": "animeId"})

anime_df.to_csv('animes_mod.csv', index=False)

In [1]:
import pandas as pd 
import numpy as np

reviews_df = pd.read_csv('reviews.csv')
reviews_df = reviews_df.rename(columns={"itemID": "animeId", "userID": "userId", "rating" : "ratings"})
reviews_df = reviews_df.reindex(columns=['userId', 'animeId', 'ratings', 'timestamp'])
print(reviews_df.shape)
# Group the data by animeId and apply the sample method to select a random subset of 5 to 10 reviews for each animeId
df = reviews_df.groupby('animeId').apply(lambda x: x.sample(n=min(len(x), 10), random_state=42)).reset_index(drop=True)
# Check the shape and data types of the resulting dataframe
print(df.shape)
print(df.dtypes)

df.to_csv('ratings_reduced.csv', index=False)

(192112, 4)
(42556, 4)
userId         int64
animeId        int64
ratings      float64
timestamp     object
dtype: object

In [3]:
import pandas as pd 
import numpy as np

reviews_df = pd.read_csv('reviews.csv')
reviews_df = reviews_df.rename(columns={"itemID": "animeId", "userID": "userId", "rating" : "ratings"})
reviews_df = reviews_df.reindex(columns=['userId', 'animeId', 'ratings', 'timestamp'])

counts = reviews_df.groupby('animeId')['userId'].count()

# filter out groups that have less than 5 to 10 reviews
filtered_counts = counts[counts.between(5, 10)]

# filter the original dataframe to include only rows with animeIds in filtered_counts
df_filtered = reviews_df[reviews_df['animeId'].isin(filtered_counts.index)]

df_filtered.to_csv('ratings_reduced.csv', index=False)

In [10]:
import pandas as pd 
df = pd.read_csv('ratings_reduced.csv', skiprows=1, header=None, engine='python', sep=',')

df.head()

        0  1    2                        3
0  165987  1  8.0  Nov 18, 2008 T 09:38 AM
1  279637  1  7.0  Mar 02, 2015 T 04:49 AM
2  303048  1  7.0  Dec 23, 2021 T 12:19 PM
3  269444  1  8.0  Sep 14, 2007 T 07:04 AM
4   12038  1  8.0  Aug 11, 2003 T 01:51 AM